body{
    margin: 0;
    padding: 0;
    background-color:white ;
}
#navigation{
height: 40px;
text-align: center;
max-width: 1200px;
display: flex;
}
.welcome{
    text-align: center;
}
li{
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    margin: 15px;
}
img{
    width: 100px;
}
header{
    display: flex;
    background-color: gray;
}
header ul {
margin-left: 650px;
font-size: 30px;
}
a{
    text-decoration: none;
    color: black;
}